<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitup"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <supports-screens android:smallScreens="false"
        android:normalScreens="false"
        android:largeScreens="true"
        android:xlargeScreens="true"/>
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.FitUp">
        <activity android:name=".WorkoutInfo"></activity>
        <activity android:name=".MainActivity" android:maxAspectRatio="2.4"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Levelexercise"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FlexibilityLevel"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StrengthLevel"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Cardiolevel"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CardioLow"
            android:parentActivityName=".Cardiolevel" />
        <activity
            android:name=".CardioLowActivity"
            android:parentActivityName=".CardioLow" />
        <activity
            android:name=".CardioMedium"
            android:parentActivityName=".Cardiolevel" />
        <activity
            android:name=".CardioHigh"
            android:parentActivityName=".Cardiolevel" />
        <activity
            android:name=".FlexHigh"
            android:parentActivityName=".FlexibilityLevel" />
        <activity
            android:name=".FlexMedium"
            android:parentActivityName=".FlexibilityLevel" />
        <activity
            android:name=".FlexLow"
            android:parentActivityName=".FlexibilityLevel" />
        <activity
            android:name=".StrHigh"
            android:parentActivityName=".StrengthLevel" />
        <activity
            android:name=".StrMedium"
            android:parentActivityName=".StrengthLevel" />
        <activity
            android:name=".StrLow"
            android:parentActivityName=".StrengthLevel" />
        <activity
            android:name=".CardioLowPassThrough"
            android:noHistory="true" />
        <activity
            android:name=".TimerCountDown"
            android:noHistory="true" />
        <activity android:name=".Topmenu" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>